.academy__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  .flex-row;
}

.academy__link p {
  @media (min-width: @tablet-width) {
    width: 120px;
  }
}

.academy {
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: @tablet-width) {
    width: 162px;
    margin: 0;
    margin-top: -10px;
    padding: 0;
  }
}

.academy__logo {
  margin-left: 47%;
  margin-top: 7px;
  width: 27px;
  height: 34px;
  fill: #666666;

  @media (min-width: @tablet-width) {
    margin-left: 21px;
  }
}

.academy__link:hover .academy__logo path {
  fill: #68b738;
}

.academy__link:active .academy__logo path {
  fill: #68b738;
}

.academy__link:active {
  opacity: 0.3;
}
