.academy__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.academy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    width: 162px;
    margin: 0;
    padding-top: 30px;
  }
}

.academy__logo {
  margin-left: 10px;
  margin-top: 3px;
  width: 27px;
  height: 34px;
  fill: #666666;
}

.academy__logo:hover {
  fill: #68b738;
}

.academy__logo:active,
.academy__link:active {
  fill: #68b738;
  opacity: 0.3;
}
