.cat-program__title {
  .font-basic;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}
.cat-program__text {
  .font-uppercase;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}
