.cat-program__title {
  .font-basic;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-top: 20px;
  }
}

.cat-program__text {
  .font-uppercase;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
}
