.cat-program__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.cat-program__title {
  .font-basic;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 700px;
    font-size: 60px;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 55px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-top: 60px;
    padding-left: 0;
  }
}

.cat-program__text {
  .font-uppercase;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 65px;
    padding: 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    padding-left: 0;
  }
}
