.catalog {
  .flex-column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 121px;
    border-bottom: 3px solid #68b738;
  }
}
