.contact {
  margin: 0 auto;
  margin-left: -20px;
  margin-right: -20px;
  .font-basic;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 69px;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    margin-left: -110px;
    margin-right: -110px;
    padding-top: 0;
    position: relative;
    margin-top: -112px;
  }
}

.contact--index {
  margin: 0 auto;
  margin-left: -20px;
  margin-right: -20px;
  .font-basic;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 69px;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    margin-left: -110px;
    margin-right: -110px;
    padding-top: 0;
    position: relative;
    margin-top: -112px;
    background-color: #f2f2f2;
  }
}

.contact--form {
  @media (min-width: @tablet-width) {
    margin-left: -70px;
    margin-right: -70px;
    margin-top: 70px;
  }
}

.contact__wrapper {
  box-sizing: border-box;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.contact__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 31px;
  padding-left: 20px;
  position: absolute;
  background-color: #ffffff;
  min-height: 114px;
  box-sizing:border-box;
  top: -76px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 201px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid transparent;
    position: absolute;
    top: 95px;
    left: 110px;
    padding-top: 60px;
    padding-right: 20px;
  }
}

.contact__invite {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 170px;
    padding-left: 71px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 1.25;
  }
}

.contact__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  .flex-column;

  @media (min-width: @tablet-width) {
    width: 160px;
    padding-left: 40px;
    padding-right: 72px;
    min-height: 80px;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contact__img-wrapper {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 0;
  margin-top: 76px;

  @media (min-width: @desktop-width) {
  margin-top: 0px;
  }
}

.contact__map-pin {
  z-index: 2;
  position: absolute;
  top: 177px;
  left: 130px;
  width: 60px;
  height: 54px;

  @media (min-width: @tablet-width) {
    width: 123px;
    height: 106px;
    top: 210px;
    left: 320px;
  }

  @media (min-width: @desktop-width) {
    top: 150px;
    left: 1000px;
  }
}

.contact__map {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: auto;

  @media (min-width: @tablet-width) {
    margin-top: 59px;
    width: 767px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
}
