.contact {
  .font-basic;
}

.contact__wrapper {
  display: flex;
  flex-direction: row;

  @media (min-width: 700px) {
    justify-content: space-between;
  }
}

.contact__invite {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.contact__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
