.example {
  box-sizing: border-box;
  min-height: 705px;
  .font-basic;
  background-color: #f2f2f2;
  margin: 0;

  @media (min-width: @tablet-width) {
    border-top: 1px solid #cdcdcd;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    border: none;
    min-height: 600px;
  }
}

.example__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.example__title {
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: 12px;
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-top: 25px;
    margin-left: 0;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}

.example__flex {
  .flex-column;

  @media (min-width: @tablet-width) and (max-width: 1299px) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    min-height: 462px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 75px;
    background-color: #eaeaea;
  }
}

.example__text-wrapper {
  @media (min-width: @desktop-width) {
    padding-top: 20px;
    box-sizing: border-box;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  width: 266px;
  margin: 0 auto;
  margin-left: 20px;
  padding-top: 20px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    width: 676px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 43px;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 440px;
    margin-left: 40px;
  }
}

.example__text-br {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.example__cost {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 15px;
  .flex-row;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-top: 10px;
    margin-left: 160px;
    margin-right: 30px;
    text-align: right;
    .flex-column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    margin: 0;
    margin-top: 60px;
    .flex-row;
    justify-content: space-between;
    min-width: 340px;
  }
}

.example__before-after {
  margin: 30px 55px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 650px;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 650px;
    margin-top: 35px;
  }
}

.example__button {
  .font-basic;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  padding: 0;
  padding-bottom: 6px;
  border-bottom: 1px dotted #bebebe;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-left: 8%;
  }
}

.example__button:first-of-type {
  margin-right: 120px;

  @media (min-width: @tablet-width) {
    margin-right: 420px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.example__button:hover,
.example__button:focus {
  border-bottom: 1px solid rgba(7, 7, 7, 0.4);
}

.example__button:active {
  border-bottom: none;
}

.example__range:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.example__range:active {
  border: 2px solid #68b738;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  width: 32px;
  height: 32px;
}

.example__range:active + .example__range::after {
  left: 34%;
}

.example__range {
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: solid 1px #cdcdcd;
  position: absolute;
  border-radius: 5px;
  top: 6px;
  left: 55px;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: 3;
    top: -8px;
    left: 20%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }

  @media (min-width: @desktop-width) {
    left: 15%;
  }
}

.example__button:last-of-type::before {
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    content: "";
    width: 428px;
    height: 6px;
    background-color: #cdcdcd;
    border: solid 1px #cdcdcd;
    position: absolute;
    border-radius: 2.5px;
    top: 6px;
    left: 18.5%;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    left: 10%;
  }
}

.example__range::after {
  content: "";
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border: solid 1px #68b738;
  border-radius: 5px;
  position: absolute;
  top: 24%;
  left: 5%;

  @media (min-width: @tablet-width) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    z-index: 5;
    top: 35%;
    left: 35%;
  }

  @media (min-width: @desktop-width) {
    left: 35%;
  }
}

.example__label:hover + .example__range {
  @media (min-width: @tablet-width) {
    box-shadow: rgba(0, 0, 0, 0.25);
  }
}

.example__label:focus + .example__range {
  box-shadow: rgba(0, 0, 0, 0.25);
  border: solid 2px #68b738;
  top: -6px;

  @media (min-width: @tablet-width) {
    left: 17px;
  }
}

.example__table {
  .flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 1;

  @media (min-width: @desktop-width) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.example__img,
.example__img-after {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin-top: -105px;
  }
}

.example__img-after {
  display: none;
}

.example__img {
  width: 311px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 676px;
    height: auto;
    margin-top: -165px;
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    height: auto;
    margin-top: -300px;
    margin-left: 0;
  }
}

.example__img-wrapper--index {
  @media (min-width: @tablet-width) {
    width: 100%;
    box-sizing: border-box;
    background-color: #eaeaea;
    margin-top: 100px;
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
  }
}
