.extra-product-info__quantity {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.extra-product-info__cost {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.25;
    margin-left: 45px;
  }
}

.extra-product-info {
  .flex-row;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 274px;
  }
}
