.extra-product {
  box-sizing: border-box;
  border-top: 1px solid #cdcdcd;
  .flex-column;

  @media (min-width: @tablet-width) {
    border: 1px solid #cdcdcd;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 900px;
    border-left: none;
    border-right: none;
    min-height: 72px;
    align-content: space-between;
    text-align: left;
    padding: 0;
  }
}

.extra-product:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra-product__title {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
  }
}

.extra-product__button {
  .green-button;
  .font-button;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 633px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-top: 12px;
  }
}

.extra-product__button:hover {
  background-color: #5eaa2f;
}

.extra-product__button:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}
