.extra-catalog__title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}

.extra-catalog__title-line {
  display: block;
  width: 53px;
  height: 3px;
  background-color: #68b738;
}

.extra-catalog {
  .flex-column;
}
