.extra-catalog {
  .flex-column;

  @media (min-width: @tablet-width) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.extra-catalog__header {
  .flex-row;

  @media (min-width: @tablet-width) {
    width: 370px;
    margin-top: -55px;
    background-color: #ffffff;
    border: 1px solid transparent;
  }
}

.extra-catalog__title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    margin-bottom: 75px;
    text-align: center;
  }
}

.extra-catalog__title-line {
  display: block;
  width: 53px;
  height: 3px;
  background-color: #68b738;
  margin-top: 42px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
