.extra-catalog {
  position: relative;
}

.extra-catalog__wrapper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  .flex-column;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    .flex-row;
  }
}

.extra-catalog__flex {
  .flex-column;
}

.extra-catalog__header {
  .flex-row;

  @media (min-width: @tablet-width) {
    width: 370px;
    background-color: #ffffff;
    border: 1px solid transparent;
  }
}

.extra-catalog__title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-top: 25px;
  margin-bottom: 34px;
  padding-right: 20px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 250px;
  z-index: 2;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 75px;
    text-align: center;
    width: 410px;
    padding-left: 35px;
    margin-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    margin-top: -52px;
    margin-left: -35px;
    margin-bottom: 80px;
    text-align: left;
  }
}

.extra-catalog::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #68b738;
  position: absolute;
  top: 4.5%;
  right: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
    top: 2%;
    left: 0;
    right: auto;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    top: -8%;
  }
}
