.features {
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1300px) {
    flex-wrap: nowrap;
  }
}

.features__item {
  @media (min-width: 700px) {
    width: 245px;
  }
}
