.footer-links {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-links__logo {
  box-sizing: border-box;
  padding: auto;
  padding-top: 39px;
  padding-bottom: 31px;
  text-align: center;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.footer-links__social {
  padding: 22px 102px 21px 93px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    padding-top: 40px;
    width: 124px;
  }
}

.footer-links__academy {
  padding: 22px 20px;

  @media (min-width: @tablet-width) {
    padding: auto 0;
  }
}
