.form-choice {
  position: relative;

  @media (min-width: @tablet-width) {
    border: solid 1px #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 570px;
    height: 205px;
    margin-top: 0;
  }
}

.form-choice__radio {
  width: 30px;
  height: 30px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-choice__label {
  line-height: 30px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    line-height: 40px;
    margin-left: 50px;
    margin-top: 13px;
  }
}

.form-choice__radio-button {
  width: 30px;
  height: 30px;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 10px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-choice__radio-button:hover,
.form-choice__label:hover {
  .form-choice__radio-button {
    border: solid 1px #bababa;
  }
}

.form-choice__radio-button:active,
.form-choice__label:active {
  opacity: 0.3;
}

.form-choice__radio:checked + .form-choice__radio-button::after {
  content: "";
  width: 12px;
  height: 12px;
  border: solid 1px transparent;
  border-radius: 50%;
  background-color: #68b738;
  position: absolute;
  top: 25%;
  left: 25%;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form-choice__flex {
  .flex-row;
}
