.form-comment {
  margin-top: -20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.form-comment__title {
  width: 240px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-top: 30px;
  margin-bottom: 32px;
  text-transform: none;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 1;
    width: 100%;
  }
}

.form-comment__title::after {
  content: "";
  width: 158px;
  height: 3px;
  background-color: #68b738;
  position: absolute;
  top: 7%;
  left: 51%;

  @media (min-width: @tablet-width) {
    width: 477px;
    top: 8%;
    left: 35%;
  }

  @media (min-width: @desktop-width) {
    width: 1120px;
    top: 10%;
    left: 18%;
  }
}

.form-comment__title::before {
  content: "";
  width: 0;
  background-color: #68b738;
  position: absolute;

  @media (min-width: @tablet-width) {
    height: 3px;
    width: 30px;
    top: 8%;
    left: -11%;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    top: 10%;
    left: -9%;
  }
}

.form-comment__area {
  .font-basic;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.13;
  width: 100%;
  opacity: 0.5;
  border-color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    width: 631px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 1218px;
    height: 174px;
  }
}

.form-comment__area:hover {
  opacity: 1;
}

.form-comment__area:focus {
  opacity: 1;
  outline: none;
}
