.form-choice {
  @media (min-width: @tablet-width) {
    border: solid 1px #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 570px;
    height: 205px;
    margin-top: 0;
  }
}

.form-choice__radio {
  width: 30px;
  height: 30px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-choice__label {
  line-height: 30px;
  margin-left: 16px;

  @media (min-width: @tablet-width) {
    line-height: 40px;
    margin-left: 20px;
  }
}

.form-choice__flex {
  .flex-row;
}
