.main-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-top: 23px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.main-nav-hide {
  @media (max-width: 767px) {
    display: none;
  }
}
