.more-taste {
  .font-basic;
  .flex-column;
  align-items: center;
  width: 280px;
  padding-bottom: 25px;
  border-bottom: solid 1px #ededed;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 324px;
    min-height: 431px;
    margin-top: 10px;
    margin-bottom: 70px;
    background-color: #ffffff;
    padding-bottom: 0;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.more-taste svg {
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    width: 61px;
    height: 61px;
    margin-top: 55px;
  }
}

.more-taste__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
  margin-top: 25px;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
    width: 140px;
    margin-bottom: 28px;
  }
}

.more-taste__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    width: 170px;
    margin-bottom: 95px;
  }
}

.more-taste__button {
  width: 280px;
  height: 40px;
  background-color: #f2f2f2;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  border: none;

  @media (min-width: @tablet-width) {
    width: 249px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.more-taste__button:hover {
  background-color: #ebebeb;
}

.more-taste__button:active {
  opacity: 0.3;
}
