.page-footer {
  background-color: #ffffff;
  width: 100%;
}

.page-footer__wrapper {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 100%;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
    background-color: #f2f2f2;
    min-height: 150px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
  }
}
