.page-header__logo-button {
  .font-basic;
  display: flex;
  flex-direction: row;

  height: 65px;
}

.page-header__toggle {
  border: none;
  outline: none;
}

.page-header__wrapper {
  min-height: 260px;
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 120px;
    width: @tablet-width;
    padding-right: 30px;
    padding-left: 30px;

    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-height: 130px;
    width: 1200px;
    padding-right: 40px;
    padding-left: 40px;

    flex-direction: row;
  }
}
