.point--slim {
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 35px 49px;
}

.point--pro {
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 28px;
}

.point__title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}

.point__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.point__link {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}
