.product {
  .font-basic;
  .flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 280px;
  box-sizing: border-box;
  border-top: solid 1px #ededed;
  border-bottom: solid 1px #ededed;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin-bottom: 140px;
    border: none;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.product__button {
  width: 280px;
  height: 40px;
  .font-basic;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 249px;
    height: 40px;
    margin-top: 33px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.product__img {
  @media (min-width: @tablet-width) {
    margin: auto;
  }
}

.product__img-mobile {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.product__img-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: -46px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.product__img-desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: -46px;
  }
}

.big {
  margin-top: -81px;
}

.product__info {
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 250px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}
