.product-info__title {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  width: 80px;

  @media (min-width: @tablet-width) {
    width: 140px;
    font-size: 20px;
    line-height: 1;
    margin: 32px auto 23px auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 124px;
  }
}

.product-info__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 248px;
    font-size: 16px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.product-info__weight,
.product-info__taste,
.product-info__value {
  .flex-row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}
