.product {
  .font-basic;
  .flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  border-top: solid 1px #ededed;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 130px;
    margin-right: 60px;
    border: none;
    background-color: #f2f2f2;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-right: 80px;
  }
}

.product:nth-of-type(2n) {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 80px;
  }
}

.product:nth-of-type(4) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }

}

.product__img:nth-of-type(4n) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.product--last {
  border-bottom: solid 1px #ededed;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
    height: 431px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;
    height: 432px;
  }
}

.product__button {
  width: 280px;
  height: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  .font-basic;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    width: 249px;
    height: 40px;
    margin-top: 33px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.product__button:hover {
  background-color: #5eaa2f;
}

.product__button:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}

.product__img {
  @media (min-width: @tablet-width) {
    margin: auto;
  }
}

.product__img-small {
  width: 140px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 320px;
    height: auto;
    margin-top: -46px;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
    height: auto;
    margin-top: -46px;
  }
}

.product__img-big {
  width: 140px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 320px;
    height: auto;
    margin-top: -80px;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
    height: auto;
    margin-top: -80px;
  }
}

.product__img-wrapper {
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 161px;
  }
}

.product__info {
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 250px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    padding-left: auto;
    padding-right: auto;
  }
}
