.product-info__title {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  width: 80px;
  margin-top: 20px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    width: 140px;
    font-size: 20px;
    line-height: 1;
    margin: 33px auto 21px auto;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 140px;
    margin-top: 25px;
  }
}

.product-info__title:hover {
  opacity: 0.6;
}

.product-info__title:active {
  opacity: 0.3;
}

.product-info__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 248px;
    font-size: 16px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}

.product-info__weight,
.product-info__taste,
.product-info__value {
  .flex-row;
  justify-content: space-between;
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 0;
    border-bottom: 1px solid #cdcdcd;
  }
}
