.product-description {
  .font-basic;
  background-color: #ffffff, #68b738;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 73%, 50% 1%;
  min-width: 320px;
  display: flex;
  flex-direction: column;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
    background-size: 280px auto, 320px auto;
  }

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 30px 225px;
    min-height: 850px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: #ffffff, #68b738;
    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 63% 140px, 100% 0;
    min-width: 1300px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
      background-size: 552px auto, 720px auto;
    }
  }
}

.product-description__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  min-height: 502px;
  .flex-column;

  @media (min-width: @tablet-width) {
    min-height: 850px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.product-description__title {
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 29px;
  width: 270px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
    width: 450px;
    margin-top: 22px;
    margin-left: 88px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
    margin-top: 220px;
    margin-left: 160px;
  }
}

.product-description__text {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 300px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
    margin-top: 42px;
    margin-left: 88px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #111111;
    margin-top: 40px;
    margin-left: 160px;
  }
}

.product-description__button {
  width: 280px;
  background-color: #68b738;
  color: #ffffff;
  .font-basic;
  text-transform: uppercase;
  font-size: 14px;
  font-stretch: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 22px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    width: 245px;
    font-size: 20px;
    line-height: 1;
    margin-top: 48px;
    margin-left: 88px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 53px;
    margin-left: 160px;
  }
}

.product-description__button:hover {
  background-color: #5eaa2f;
}

.product-description__button:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}
