.program-form {
  .font-uppercase;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

/*.program-form input {
  .font-uppercase;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  height: 45px;
  margin-left: 15px;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    height: 52px;
    padding-left: 20px;
  }
}*/

.program-form__choice {
  @media (min-width: @tablet-width) {
    margin-top: 50px;
    border: 1px solid #cdcdcd;
    padding-left: 28px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}

.program-form__text {
  width: 280px;
  height: 150px;
  opacity: 0.5;
  border: solid 1px #cdcdcd;
  .font-uppercase;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  vertical-align: top;

  @media (min-width: @tablet-width) {
    height: 173px;
    width: 100%;
  }
}

.program-form__title {
  width: 240px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: none;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 1;
    width: 100%;
  }
}

.program-form__title-line {
  display: block;
  width: 53px;
  height: 3px;
  background-color: #68b738;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.program-form__necessary {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  text-transform: none;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
    margin: 17px auto;
  }
}

.program-form__button {
  .font-button;
  .green-button;
  color: #ffffff;
  width: 280px;
  height: 40px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 283px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.program-form__button:hover {
  background-color: #5eaa2f;
}

.program-form__button:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}

/*Сетки*/

.program-form__main {
  .flex-column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.program-form__basic {
  .flex-column;
}

.program-form__contact {
  .flex-column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.program-form__extra {
  .flex-column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.program-form__send {
  .flex-column;
  height: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 70px;
  }
}
