.program-form {
  .font-uppercase;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.program-form__text {
  width: 280px;
  height: 150px;
  opacity: 0.5;
  border: solid 1px #cdcdcd;
  .font-uppercase;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  vertical-align: top;

  @media (min-width: @tablet-width) {
    height: 173px;
    width: 100%;
  }
}

.program-form__necessary {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  text-transform: none;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.program-form__button {
  .font-button;
  .green-button;
  color: #ffffff;
  width: 280px;
  height: 40px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 283px;
    height: 52px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.program-form__button:hover {
  background-color: #5eaa2f;
}

.program-form__button:active {
  background-color: #5eaa2f;
  opacity: 0.3;
}

/*Сетки*/

.program-form__main {
  .flex-column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.program-form__basic {
  .flex-column;
}

.program-form__contact {
  .flex-column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.program-form__extra {
  .flex-column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.program-form__send {
  .flex-column;
  height: 100%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 45px;
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 45px;
    padding-left: 110px;
  }
}
