.program-extra {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.program-extra__wrapper {
  @media (min-width: @tablet-width) {
    width: 100%;
    box-sizing: border-box;
  }
}

.program-extra__flex {
  .flex-column;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    .flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.program-extra__item {
  margin-bottom: 13px;
  .flex-row;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 20%;
  }
}

.program-extra__title {
  width: 240px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
  margin-top: 30px;
  margin-bottom: 32px;
  text-transform: none;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 1;
    width: 212px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    z-index: 2;
    padding-left: 40px;
    margin-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
    margin-left: 70px;
  }
}

.program-extra__wrapper::after {
  content: "";
  width: 136px;
  height: 3px;
  background-color: #68b738;
  position: absolute;
  top: 17%;
  left: 58%;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 100%;
    top: 29%;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    top: 39%;
  }
}

.program-extra__check {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px #cdcdcd;
  position: absolute;
  left: 3px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.program-extra__checkbox:checked + .program-extra__check::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 17px;
  background-repeat: no-repeat;
  top: 20%;
  left: 20%;

  @media (min-width: @tablet-width) {
    width: 21px;
    height: 16px;
    background-size: 21px 16px;
    top: 25%;
    left: 25%;
  }
}

.program-extra__check:hover,
.program-extra__label:hover {
  .program-extra__check {
    border-color: #bababa;
  }
}

.program-extra__check:active,
.program-extra__label:active {
  opacity: 0.3;
}

.program-extra__check:focus,
.program-extra__label:focus {
  .program-extra__check {
    border-color: #bababa;
  }
}

.program-extra__label {
  line-height: 30px;
  padding-left: 46px;
  position: relative;

  @media (min-width: @tablet-width) {
    line-height: 40px;
    padding-left: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 70px;
  }
}
