.site-list {
  .font-basic;
  margin: 0 auto;
  padding-left: 0;
}

.site-list__item {
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;

  border-bottom: 1px solid #f2f2f2;

  @media (min-width: @tablet-width) {
    border: none;
    font-size: 18px;
    line-height: 1.39;
    margin-right: 20px;
    margin-left: 15px;
    letter-spacing: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
    padding-top: 35px;
    text-align: left;
  }
}

.site-list__item:last-child {
  border-bottom: none;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 70px;
  }
}

.site-list__item a {
  padding-bottom: 9px;
  text-decoration: none;
  color: #111111;
}

.site-list__item a:hover {
  opacity: 0.6;
}

.site-list__item a:focus {
  opacity: 0.3;
}

.site-list__item-index a {
  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.site-list__item--active a {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid #68b738;
  }
}

.site-list__item-index--active a {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid #68b738;
  }

  @media (min-width: @desktop-width) {
    border-bottom: 2px solid #ffffff;
  }
}
