.site-list {
  .font-basic;
  margin: 0 auto;
  padding-left: 0;
}

.site-list__item {
  font-size: 20px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  list-style: none;

  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid #f2f2f2;

  @media (min-width: @tablet-width) {
    border: none;
    font-size: 18px;
    line-height: 1.39;
    margin-right: 30px;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
  }
}

.site-list__item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.site-list__item a {
  text-decoration: none;
  color: #111111;

  /*@media (min-width: @desktop-width) {
    color: #ffffff
  }*/
}
