.social {
  width: 280px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-left: 15px;
  }
}

.social__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
}

.social__svg--vk {
  margin-bottom: 2px;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: auto;
  }
}

.social__svg--vk:hover {
  fill: #68b738;
}

.social__svg--vk:active {
  opacity: 0.3;
}

.social__svg--insta {
  @media (min-width: @tablet-width) {
    width: 23px;
    height: auto;
  }
}

.social__svg--insta:hover .st0 {
  fill: #68b738;
}

.social__svg--insta:active {
  opacity: 0.3;
}

.social__svg--fb {
  margin-top: -3px;

  @media (min-width: @tablet-width) {
    width: 14px;
    height: auto;
  }
}

.social__svg--fb:hover {
  fill: #68b738;
}

.social__svg--fb:active {
  opacity: 0.3;
}
