.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social__vk:hover {
  fill: #68b738;
}

.social__vk:active {
  opacity: 0.3;
}

.social__insta:hover {
  fill: #68b738;
}

.social__insta:active {
  opacity: 0.3;
}

.social__fb:hover {
  fill: #68b738;
}

.social__fb:active {
  opacity: 0.3;
}
